In [1]:
import pandas as pd
import numpy as np

#import census data
pop_change_df = pd.read_csv('Resources/population-change-data-table-usable.csv')
pop_change_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59 entries, 0 to 58
Data columns (total 6 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Unnamed: 0                          59 non-null     object
 1   Resident Population 2020 Census     57 non-null     object
 2   Percent Change 2010 to 2020 Census  57 non-null     float64
 3   Resident Population 2010 Census     57 non-null     object
 4   Percent Change 2000 - Census 2010   57 non-null     float64
 5   Resident Population 2000 Census     57 non-null     object
dtypes: float64(2), object(4)
memory usage: 2.9+ KB

In [2]:
#change "Unamed to "State"
pop_change_df1 = pop_change_df.rename(columns = {"Unnamed: 0": "State"})

In [3]:
#drop regional and national totals
pop_change_df2 = pop_change_df1.drop(labels= range(51,59), axis=0)
pop_change_df2

,State,Resident Population 2020 Census,Percent Change 2010 to 2020 Census,Resident Population 2010 Census,Percent Change 2000 - Census 2010,Resident Population 2000 Census
0,Alabama,"5,024,279",5.1,"4,779,736",7.5,"4,447,100"
1,Alaska,"733,391",3.3,"710,231",13.3,"626,932"
2,Arizona,"7,151,502",11.9,"6,392,017",24.6,"5,130,632"
3,Arkansas,"3,011,524",3.3,"2,915,918",9.1,"2,673,400"
4,California,"39,538,223",6.1,"37,253,956",10.0,"33,871,648"
5,Colorado,"5,773,714",14.8,"5,029,196",16.9,"4,301,261"
6,Connecticut,"3,605,944",0.9,"3,574,097",4.9,"3,405,565"
7,Delaware,"989,948",10.2,"897,934",14.6,"783,600"
8,District of Columbia,"689,545",14.6,"601,723",5.2,"572,059"
9,Florida,"21,538,187",14.6,"18,801,310",17.6,"15,982,378"
10,Georgia,"10,711,908",10.6,"9,687,653",18.3,"8,186,453"
11,Hawaii,"1,455,271",7.0,"1,360,301",12.3,"1,211,537"
12,Idaho,"1,839,106",17.3,"1,567,582",21.1,"1,293,953"
13,Illinois,"12,812,508",-0.1,"12,830,632",3.3,"12,419,293"
14,Indiana,"6,785,528",4.7,"6,483,802",6.6,"6,080,485"
15,Iowa,"3,190,369",4.7,"3,046,355",4.1,"2,926,324"
16,Kansas,"2,937,880",3.0,"2,853,118",6.1,"2,688,418"
17,Kentucky,"4,505,836",3.8,"4,339,367",7.4,"4,041,769"
18,Louisiana,"4,657,757",2.7,"4,533,372",1.4,"4,468,976"
19,Maine,"1,362,359",2.6,"1,328,361",4.2,"1,274,923"
20,Maryland,"6,177,224",7.0,"5,773,552",9.0,"5,296,486"
21,Massachusetts,"7,029,917",7.4,"6,547,629",3.1,"6,349,097"
22,Michigan,"10,077,331",2.0,"9,883,640",-0.6,"9,938,444"
23,Minnesota,"5,706,494",7.6,"5,303,925",7.8,"4,919,479"
24,Mississippi,"2,961,279",-0.2,"2,967,297",4.3,"2,844,658"
25,Missouri,"6,154,913",2.8,"5,988,927",7.0,"5,595,211"
26,Montana,"1,084,225",9.6,"989,415",9.7,"902,195"
27,Nebraska,"1,961,504",7.4,"1,826,341",6.7,"1,711,263"
28,Nevada,"3,104,614",15.0,"2,700,551",35.1,"1,998,257"
29,New Hampshire,"1,377,529",4.6,"1,316,470",6.5,"1,235,786"
30,New Jersey,"9,288,994",5.7,"8,791,894",4.5,"8,414,350"
31,New Mexico,"2,117,522",2.8,"2,059,179",13.2,"1,819,046"
32,New York,"20,201,249",4.2,"19,378,102",2.1,"18,976,457"
33,North Carolina,"10,439,388",9.5,"9,535,483",18.5,"8,049,313"
34,North Dakota,"779,094",15.8,"672,591",4.7,"642,200"
35,Ohio,"11,799,448",2.3,"11,536,504",1.6,"11,353,140"
36,Oklahoma,"3,959,353",5.5,"3,751,351",8.7,"3,450,654"
37,Oregon,"4,237,256",10.6,"3,831,074",12.0,"3,421,399"
38,Pennsylvania,"13,002,700",2.4,"12,702,379",3.4,"12,281,054"
39,Rhode Island,"1,097,379",4.3,"1,052,567",0.4,"1,048,319"
40,South Carolina,"5,118,425",10.7,"4,625,364",15.3,"4,012,012"
41,South Dakota,"886,667",8.9,"814,180",7.9,"754,844"
42,Tennessee,"6,910,840",8.9,"6,346,105",11.5,"5,689,283"
43,Texas,"29,145,505",15.9,"25,145,561",20.6,"20,851,820"
44,Utah,"3,271,616",18.4,"2,763,885",23.8,"2,233,169"
45,Vermont,"643,077",2.8,"625,741",2.8,"608,827"
46,Virginia,"8,631,393",7.9,"8,001,024",13.0,"7,078,515"
47,Washington,"7,705,281",14.6,"6,724,540",14.1,"5,894,121"
48,West Virginia,"1,793,716",-3.2,"1,852,994",2.5,"1,808,344"
49,Wisconsin,"5,893,718",3.6,"5,686,986",6.0,"5,363,675"
50,Wyoming,"576,851",2.3,"563,626",14.1,"493,782"

In [4]:
#import substance abuse data
subs_df = pd.read_csv("Resources/NSDUH Substance Use Data.csv")
subs_df

,Unnamed: 0,State,Illicit Drug Use (18+),Alcohol Use (18+),Substance Use Disorder (18+)
0,0,Total U.S.,6.82%,10.96%,10.96%
1,1,Northeast,6.75%,11.59%,11.59%
2,2,Midwest,6.87%,11.48%,11.48%
3,3,South,6.46%,9.38%,9.38%
4,4,West,7.41%,12.57%,12.57%
5,5,Alabama,5.63%,9.31%,9.31%
6,6,Alaska,7.87%,11.30%,11.30%
7,7,Arizona,7.76%,11.85%,11.85%
8,8,Arkansas,7.75%,9.12%,9.12%
9,9,California,6.72%,12.79%,12.79%
10,10,Colorado,9.01%,13.32%,13.32%
11,11,Connecticut,6.70%,12.21%,12.21%
12,12,Delaware,5.79%,10.82%,10.82%
13,13,District of Columbia,9.70%,17.83%,17.83%
14,14,Florida,7.48%,9.55%,9.55%
15,15,Georgia,5.33%,8.03%,8.03%
16,16,Hawaii,5.85%,10.31%,10.31%
17,17,Idaho,6.92%,10.87%,10.87%
18,18,Illinois,7.65%,11.51%,11.51%
19,19,Indiana,6.73%,10.05%,10.05%
20,20,Iowa,6.67%,10.55%,10.55%
21,21,Kansas,7.00%,13.48%,13.48%
22,22,Kentucky,6.04%,8.72%,8.72%
23,23,Louisiana,7.18%,10.65%,10.65%
24,24,Maine,7.40%,11.71%,11.71%
25,25,Maryland,6.69%,12.20%,12.20%
26,26,Massachusetts,7.89%,13.02%,13.02%
27,27,Michigan,7.89%,11.30%,11.30%
28,28,Minnesota,5.99%,13.29%,13.29%
29,29,Mississippi,7.48%,9.58%,9.58%
30,30,Missouri,6.79%,11.00%,11.00%
31,31,Montana,8.19%,12.10%,12.10%
32,32,Nebraska,7.17%,11.89%,11.89%
33,33,Nevada,8.65%,10.93%,10.93%
34,34,New Hampshire,7.39%,11.95%,11.95%
35,35,New Jersey,6.33%,11.85%,11.85%
36,36,New Mexico,7.00%,12.51%,12.51%
37,37,New York,6.37%,11.49%,11.49%
38,38,North Carolina,6.60%,9.41%,9.41%
39,39,North Dakota,6.59%,11.73%,11.73%
40,40,Ohio,5.96%,11.33%,11.33%
41,41,Oklahoma,7.89%,10.72%,10.72%
42,42,Oregon,9.17%,13.14%,13.14%
43,43,Pennsylvania,6.67%,10.36%,10.36%
44,44,Rhode Island,8.13%,12.91%,12.91%
45,45,South Carolina,5.94%,9.27%,9.27%
46,46,South Dakota,7.01%,13.19%,13.19%
47,47,Tennessee,7.01%,9.09%,9.09%
48,48,Texas,5.61%,8.18%,8.18%
49,49,Utah,6.60%,9.61%,9.61%
50,50,Vermont,7.80%,13.11%,13.11%
51,51,Virginia,5.94%,11.01%,11.01%
52,52,Washington,8.51%,14.00%,14.00%
53,53,West Virginia,7.62%,9.67%,9.67%
54,54,Wisconsin,6.26%,11.50%,11.50%
55,55,Wyoming,7.42%,13.06%,13.06%

In [5]:
#drop regional data
subs_df1 = subs_df.drop(labels= range(0,5), axis=0)
subs_df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 51 entries, 5 to 55
Data columns (total 5 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Unnamed: 0                    51 non-null     int64
 1   State                         51 non-null     object
 2   Illicit Drug Use (18+)        51 non-null     object
 3   Alcohol Use (18+)             51 non-null     object
 4   Substance Use Disorder (18+)  51 non-null     object
dtypes: int64(1), object(4)
memory usage: 2.4+ KB

In [6]:
subs_df2 = subs_df.set_index('State')
subs_df2

,Unnamed: 0,Illicit Drug Use (18+),Alcohol Use (18+),Substance Use Disorder (18+)
State,,,,
Total U.S.,0,6.82%,10.96%,10.96%
Northeast,1,6.75%,11.59%,11.59%
Midwest,2,6.87%,11.48%,11.48%
South,3,6.46%,9.38%,9.38%
West,4,7.41%,12.57%,12.57%
Alabama,5,5.63%,9.31%,9.31%
Alaska,6,7.87%,11.30%,11.30%
Arizona,7,7.76%,11.85%,11.85%
Arkansas,8,7.75%,9.12%,9.12%
California,9,6.72%,12.79%,12.79%
Colorado,10,9.01%,13.32%,13.32%
Connecticut,11,6.70%,12.21%,12.21%
Delaware,12,5.79%,10.82%,10.82%
District of Columbia,13,9.70%,17.83%,17.83%
Florida,14,7.48%,9.55%,9.55%
Georgia,15,5.33%,8.03%,8.03%
Hawaii,16,5.85%,10.31%,10.31%
Idaho,17,6.92%,10.87%,10.87%
Illinois,18,7.65%,11.51%,11.51%
Indiana,19,6.73%,10.05%,10.05%
Iowa,20,6.67%,10.55%,10.55%
Kansas,21,7.00%,13.48%,13.48%
Kentucky,22,6.04%,8.72%,8.72%
Louisiana,23,7.18%,10.65%,10.65%
Maine,24,7.40%,11.71%,11.71%
Maryland,25,6.69%,12.20%,12.20%
Massachusetts,26,7.89%,13.02%,13.02%
Michigan,27,7.89%,11.30%,11.30%
Minnesota,28,5.99%,13.29%,13.29%
Mississippi,29,7.48%,9.58%,9.58%
Missouri,30,6.79%,11.00%,11.00%
Montana,31,8.19%,12.10%,12.10%
Nebraska,32,7.17%,11.89%,11.89%
Nevada,33,8.65%,10.93%,10.93%
New Hampshire,34,7.39%,11.95%,11.95%
New Jersey,35,6.33%,11.85%,11.85%
New Mexico,36,7.00%,12.51%,12.51%
New York,37,6.37%,11.49%,11.49%
North Carolina,38,6.60%,9.41%,9.41%
North Dakota,39,6.59%,11.73%,11.73%
Ohio,40,5.96%,11.33%,11.33%
Oklahoma,41,7.89%,10.72%,10.72%
Oregon,42,9.17%,13.14%,13.14%
Pennsylvania,43,6.67%,10.36%,10.36%
Rhode Island,44,8.13%,12.91%,12.91%
South Carolina,45,5.94%,9.27%,9.27%
South Dakota,46,7.01%,13.19%,13.19%
Tennessee,47,7.01%,9.09%,9.09%
Texas,48,5.61%,8.18%,8.18%
Utah,49,6.60%,9.61%,9.61%
Vermont,50,7.80%,13.11%,13.11%
Virginia,51,5.94%,11.01%,11.01%
Washington,52,8.51%,14.00%,14.00%
West Virginia,53,7.62%,9.67%,9.67%
Wisconsin,54,6.26%,11.50%,11.50%
Wyoming,55,7.42%,13.06%,13.06%

In [7]:
#import missing persons data
missing_df = pd.read_csv("missingpersons.csv")
missing_df

,State,Total Number of Missing Persons,"Missing People per 100,000 Residents"
0,Alabama,204,4.2
1,Alaska,309,41.8
2,Arizona,915,13.0
3,Arkansas,200,6.7
4,California,"2,133",5.4
5,Colorado,292,5.2
6,Connecticut,197,5.5
7,Delaware,58,6.0
8,District of Columbia,35,5.0
9,Florida,"1,252",6.0
10,Georgia,250,2.4
11,Hawaii,107,7.5
12,Idaho,101,5.9
13,Illinois,317,2.5
14,Indiana,174,2.6
15,Iowa,86,2.7
16,Kansas,81,2.8
17,Kentucky,248,5.6
18,Louisiana,266,5.7
19,Maine,108,8.1
20,Maryland,183,3.0
21,Massachusetts,126,1.8
22,Michigan,556,5.6
23,Minnesota,179,3.2
24,Mississippi,115,3.9
25,Missouri,316,5.2
26,Montana,71,6.8
27,Nebraska,61,3.2
28,Nevada,192,6.4
29,New Hampshire,35,2.6
30,New Jersey,299,3.3
31,New Mexico,143,6.8
32,New York,606,3.1
33,North Carolina,327,3.2
34,North Dakota,31,4.1
35,Ohio,358,3.1
36,Oklahoma,252,6.4
37,Oregon,432,10.4
38,Pennsylvania,401,3.1
39,Rhode Island,20,1.9
40,South Carolina,184,3.7
41,South Dakota,23,2.6
42,Tennessee,361,5.4
43,Texas,"1,246",4.4
44,Utah,107,3.4
45,Vermont,54,8.7
46,Virginia,239,2.8
47,Washington,643,8.7
48,West Virginia,120,6.6
49,Wisconsin,149,2.6
50,Wyoming,45,7.8

In [8]:
sightings_df = pd.read_csv("sightings_df.csv")
sightings_df

,Unnamed: 0,title,classification,year,latitude,longitude,State,country
0,0,Report 637: Campers' encounter just after dark...,Class A,2000,61.50000,-142.90000,AK,United States
1,1,Report 2917: Family observes large biped from car,Class A,1995,55.18720,-132.79820,AK,United States
2,2,Report 7963: Sasquatch walks past window of ho...,Class A,2004,55.20350,-132.82020,AK,United States
3,3,"Report 9317: Driver on Alcan Highway has noon,...",Class A,2004,62.93750,-141.56670,AK,United States
4,5,Report 23666: Passenger on the Alcan Highway s...,Class A,2008,62.77335,-141.31650,AK,United States
...,...,...,...,...,...,...,...,...
4052,4245,Report 4159: Campers hear unusual grunting sou...,Class C,1995,31.22333,-94.96611,TX,United States
4053,4246,Report 175: Campers encounter large animal nea...,Class C,2000,47.47745,-121.04150,WA,United States
4054,4247,Report 945: Creature with red glowing eyes seen,Class C,1999,47.57778,-124.29330,WA,United States
4055,4248,Report 1387: Father and son hear heavy footste...,Class C,1983,47.51030,-122.04560,WA,United States
4056,4249,Report 3044: Second-hand report of creature lo...,Class C,1975,43.98694,-91.33662,WI,United States

In [9]:
us_state_to_abbrev = {
    "Alabama": "AL",
    "Alaska": "AK",
    "Arizona": "AZ",
    "Arkansas": "AR",
    "California": "CA",
    "Colorado": "CO",
    "Connecticut": "CT",
    "Delaware": "DE",
    "Florida": "FL",
    "Georgia": "GA",
    "Hawaii": "HI",
    "Idaho": "ID",
    "Illinois": "IL",
    "Indiana": "IN",
    "Iowa": "IA",
    "Kansas": "KS",
    "Kentucky": "KY",
    "Louisiana": "LA",
    "Maine": "ME",
    "Maryland": "MD",
    "Massachusetts": "MA",
    "Michigan": "MI",
    "Minnesota": "MN",
    "Mississippi": "MS",
    "Missouri": "MO",
    "Montana": "MT",
    "Nebraska": "NE",
    "Nevada": "NV",
    "New Hampshire": "NH",
    "New Jersey": "NJ",
    "New Mexico": "NM",
    "New York": "NY",
    "North Carolina": "NC",
    "North Dakota": "ND",
    "Ohio": "OH",
    "Oklahoma": "OK",
    "Oregon": "OR",
    "Pennsylvania": "PA",
    "Rhode Island": "RI",
    "South Carolina": "SC",
    "South Dakota": "SD",
    "Tennessee": "TN",
    "Texas": "TX",
    "Utah": "UT",
    "Vermont": "VT",
    "Virginia": "VA",
    "Washington": "WA",
    "West Virginia": "WV",
    "Wisconsin": "WI",
    "Wyoming": "WY",
    "District of Columbia": "DC",
    "American Samoa": "AS",
    "Guam": "GU",
    "Northern Mariana Islands": "MP",
    "Puerto Rico": "PR",
    "United States Minor Outlying Islands": "UM",
    "U.S. Virgin Islands": "VI",
}
    
# invert the dictionary
abbrev_to_us_state = dict(map(reversed, us_state_to_abbrev.items()))

In [10]:
sightings_df['State']=sightings_df['State'].map(abbrev_to_us_state)

In [11]:
#sort sightings by year
sightings_df1 = sightings_df.sort_values(by="year")

sightings_df1.head()

,Unnamed: 0,title,classification,year,latitude,longitude,State,country
211,213,Report 14338: Old newspaper article (Titusvill...,Class A,1869,37.39555,-1.214871e+02,California,United States
1453,1525,Report 14358: Old newspaper article (Clearfiel...,Class A,1921,41.01865,-7.837700e+01,Pennsylvania,United States
2777,2963,Report 24413: Woman recounts a tale her Grandf...,Class B,1925,31.08774,-9.184467e+01,Louisiana,United States
3489,3680,Report 2477: Nine foot tall brown/black creatu...,Class B,1930,31.40444,-9.570861e+01,Texas,United States
2951,3139,Report 24102: Recollections of numerous encoun...,Class B,1932,39.80751,-9.486840e+07,Nevada,United States

In [12]:
#drop the sightings from before 2001
sightings_df2 = sightings_df1[sightings_df1['year']>2000]
sightings_df2

,Unnamed: 0,title,classification,year,latitude,longitude,State,country
3492,3683,"Report 3587: Late afternoon sighting at creek,...",Class B,2001,33.82722,-95.62861,Texas,United States
2020,2094,Report 8797: Two boys find footprints on Harri...,Class B,2001,55.45550,-132.73330,Alaska,United States
3575,3766,Report 18056: Possible late night sighting by ...,Class B,2001,40.82500,-110.82500,Utah,United States
1315,1387,"Report 2041: August 1 1990 Oklahoma, Cherokee ...",Class A,2001,35.92806,-94.83000,Oklahoma,United States
1966,2038,Report 3655: Daylight sighting near rural chur...,Class A,2001,39.21833,-81.16211,West Virginia,United States
...,...,...,...,...,...,...,...,...
3942,4134,Report 70737: Heavy thuds and distinct rock cl...,Class B,2021,47.34432,-120.94770,Washington,United States
3941,4133,Report 69553: Possible encounter in darkness o...,Class B,2021,47.21551,-120.93830,Washington,United States
3272,3462,Report 71751: Possible sighting in Mohican Sta...,Class B,2021,40.61309,-82.31692,Ohio,United States
689,760,Report 71920: SATURDAY NIGHT 10:30 : Motorist ...,Class A,2021,40.06831,-90.15218,Illinois,United States
3088,3277,Report 45647: Memory told of a possible encoun...,Class B,2053,39.88078,-74.53293,New Jersey,United States

In [13]:
#create a dataframe for 2001 to 2010
sightings_00s = sightings_df2[sightings_df['year']<2011]
sightings_00s

C:\Users\jenny\AppData\Local\Temp/ipykernel_16964/366629599.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  sightings_00s = sightings_df2[sightings_df['year']<2011]

,Unnamed: 0,title,classification,year,latitude,longitude,State,country
3492,3683,"Report 3587: Late afternoon sighting at creek,...",Class B,2001,33.82722,-95.62861,Texas,United States
2020,2094,Report 8797: Two boys find footprints on Harri...,Class B,2001,55.45550,-132.73330,Alaska,United States
3575,3766,Report 18056: Possible late night sighting by ...,Class B,2001,40.82500,-110.82500,Utah,United States
1315,1387,"Report 2041: August 1 1990 Oklahoma, Cherokee ...",Class A,2001,35.92806,-94.83000,Oklahoma,United States
1966,2038,Report 3655: Daylight sighting near rural chur...,Class A,2001,39.21833,-81.16211,West Virginia,United States
...,...,...,...,...,...,...,...,...
2644,2830,Report 33040: Possible sighting by a deer hunt...,Class B,2010,40.13480,-90.67570,Illinois,United States
2552,2738,Report 35883: Possible encounter while volunte...,Class B,2010,41.78220,-91.57033,Iowa,United States
653,724,Report 37856: Close encounter at night by a mo...,Class A,2010,38.37945,-87.79079,Illinois,United States
236,238,Report 27177: Man remembers sighting while dri...,Class A,2010,34.76666,-118.58340,California,United States
3039,3228,Report 27906: Unknown early morning visitor he...,Class B,2010,35.31924,-80.03551,North Carolina,United States

In [14]:
#get the count for 2001-2010 by state
sightings_00s_state = sightings_00s.groupby('State').count()

sightings_00s_state.head()

,Unnamed: 0,title,classification,year,latitude,longitude,country
State,,,,,,,
Alabama,36,36,36,36,36,36,36
Alaska,7,7,7,7,7,7,7
Arizona,34,34,34,34,34,34,34
Arkansas,42,42,42,42,42,42,42
California,123,123,123,123,123,123,123

In [15]:
bf_sitings_00s = sightings_00s_state.rename(columns= {"Unnamed": "10 Count"})

In [16]:
#create dataframe for 2011-2020
sightings_10s = sightings_df2[sightings_df['year']>=2001]
sightings_10s

C:\Users\jenny\AppData\Local\Temp/ipykernel_16964/3474300916.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  sightings_10s = sightings_df2[sightings_df['year']>=2001]

,Unnamed: 0,title,classification,year,latitude,longitude,State,country
3492,3683,"Report 3587: Late afternoon sighting at creek,...",Class B,2001,33.82722,-95.62861,Texas,United States
2020,2094,Report 8797: Two boys find footprints on Harri...,Class B,2001,55.45550,-132.73330,Alaska,United States
3575,3766,Report 18056: Possible late night sighting by ...,Class B,2001,40.82500,-110.82500,Utah,United States
1315,1387,"Report 2041: August 1 1990 Oklahoma, Cherokee ...",Class A,2001,35.92806,-94.83000,Oklahoma,United States
1966,2038,Report 3655: Daylight sighting near rural chur...,Class A,2001,39.21833,-81.16211,West Virginia,United States
...,...,...,...,...,...,...,...,...
3942,4134,Report 70737: Heavy thuds and distinct rock cl...,Class B,2021,47.34432,-120.94770,Washington,United States
3941,4133,Report 69553: Possible encounter in darkness o...,Class B,2021,47.21551,-120.93830,Washington,United States
3272,3462,Report 71751: Possible sighting in Mohican Sta...,Class B,2021,40.61309,-82.31692,Ohio,United States
689,760,Report 71920: SATURDAY NIGHT 10:30 : Motorist ...,Class A,2021,40.06831,-90.15218,Illinois,United States
3088,3277,Report 45647: Memory told of a possible encoun...,Class B,2053,39.88078,-74.53293,New Jersey,United States

In [17]:
#get counts of sightings for 2011-2020
sightings_10s_state = sightings_10s.groupby('State').count()
sightings_10s_state

,Unnamed: 0,title,classification,year,latitude,longitude,country
State,,,,,,,
Alabama,59,59,59,59,59,59,59
Alaska,7,7,7,7,7,7,7
Arizona,46,46,46,46,46,46,46
Arkansas,61,61,61,61,61,61,61
California,142,142,142,142,142,142,142
Colorado,56,56,56,56,56,56,56
Connecticut,11,11,11,11,11,11,11
Delaware,2,2,2,2,2,2,2
Florida,167,167,167,167,167,167,167
Georgia,71,71,71,71,71,71,71
Idaho,46,46,46,46,46,46,46
Illinois,141,141,141,141,141,141,141
Indiana,27,27,27,27,27,27,27
Iowa,20,20,20,20,20,20,20
Kansas,23,23,23,23,23,23,23
Kentucky,54,54,54,54,54,54,54
Louisiana,7,7,7,7,7,7,7
Maine,7,7,7,7,7,7,7
Maryland,6,6,6,6,6,6,6
Massachusetts,17,17,17,17,17,17,17
Michigan,92,92,92,92,92,92,92
Minnesota,32,32,32,32,32,32,32
Mississippi,7,7,7,7,7,7,7
Missouri,80,80,80,80,80,80,80
Montana,27,27,27,27,27,27,27
Nebraska,7,7,7,7,7,7,7
Nevada,2,2,2,2,2,2,2
New Hampshire,5,5,5,5,5,5,5
New Jersey,33,33,33,33,33,33,33
New Mexico,20,20,20,20,20,20,20
New York,43,43,43,43,43,43,43
North Carolina,44,44,44,44,44,44,44
North Dakota,3,3,3,3,3,3,3
Ohio,142,142,142,142,142,142,142
Oklahoma,49,49,49,49,49,49,49
Oregon,84,84,84,84,84,84,84
Pennsylvania,33,33,33,33,33,33,33
Rhode Island,2,2,2,2,2,2,2
South Carolina,14,14,14,14,14,14,14
South Dakota,6,6,6,6,6,6,6
Tennessee,32,32,32,32,32,32,32
Texas,163,163,163,163,163,163,163
Utah,22,22,22,22,22,22,22
Vermont,4,4,4,4,4,4,4
Virginia,46,46,46,46,46,46,46
Washington,303,303,303,303,303,303,303
West Virginia,63,63,63,63,63,63,63
Wisconsin,52,52,52,52,52,52,52
Wyoming,4,4,4,4,4,4,4

In [18]:
#Merge dataframes
aggregate_df= pd.merge(pop_change_df2, missing_df, on='State', how='left')
aggregate_df.head()

,State,Resident Population 2020 Census,Percent Change 2010 to 2020 Census,Resident Population 2010 Census,Percent Change 2000 - Census 2010,Resident Population 2000 Census,Total Number of Missing Persons,"Missing People per 100,000 Residents"
0,Alabama,"5,024,279",5.1,"4,779,736",7.5,"4,447,100",204,4.2
1,Alaska,"733,391",3.3,"710,231",13.3,"626,932",309,41.8
2,Arizona,"7,151,502",11.9,"6,392,017",24.6,"5,130,632",915,13.0
3,Arkansas,"3,011,524",3.3,"2,915,918",9.1,"2,673,400",200,6.7
4,California,"39,538,223",6.1,"37,253,956",10.0,"33,871,648","2,133",5.4

In [19]:
sittings_aggregate_00_df = pd.merge(aggregate_df,sightings_00s_state, on='State', how='left')
sittings_aggregate_00_df.head()

,State,Resident Population 2020 Census,Percent Change 2010 to 2020 Census,Resident Population 2010 Census,Percent Change 2000 - Census 2010,Resident Population 2000 Census,Total Number of Missing Persons,"Missing People per 100,000 Residents",Unnamed: 0,title,classification,year,latitude,longitude,country
0,Alabama,"5,024,279",5.1,"4,779,736",7.5,"4,447,100",204,4.2,36.0,36.0,36.0,36.0,36.0,36.0,36.0
1,Alaska,"733,391",3.3,"710,231",13.3,"626,932",309,41.8,7.0,7.0,7.0,7.0,7.0,7.0,7.0
2,Arizona,"7,151,502",11.9,"6,392,017",24.6,"5,130,632",915,13.0,34.0,34.0,34.0,34.0,34.0,34.0,34.0
3,Arkansas,"3,011,524",3.3,"2,915,918",9.1,"2,673,400",200,6.7,42.0,42.0,42.0,42.0,42.0,42.0,42.0
4,California,"39,538,223",6.1,"37,253,956",10.0,"33,871,648","2,133",5.4,123.0,123.0,123.0,123.0,123.0,123.0,123.0

In [20]:
ag_00s_rename = sittings_aggregate_00_df.rename(columns = {"State": "State", 
                                                           "Resident Population 2020 Census": "2020 Pop",
                                                           "Percent Change 2020 Census": "2020 % Change",
                                                           "Resident Population 2010 Census": "2010 Pop",
                                                           "Percent Change 2010 Census": "2010 % Change",
                                                           "Resident Population 2000 Census": "2000 Pop",
                                                           "Total Number of Missing Persons": " # of Missing Persons",
                                                           "Missing People 100,000 Residents": "Missing Per 100k",
                                                           "Unnamed":"2001-2010 Sightings", 
                                                           "latitude":"Lat Count",
                                                           "latitude.1": "Lat1 Count",
                                                           "classification": "Class Count",
                                                           "title": "Title Count",
                                                           "Date": "Date Count",
                                                           "Year": "2001-2010 Count"
                                                            })

In [21]:
agg_total=pd.merge(ag_00s_rename, sightings_10s_state, on='State', how='left' )
agg_total.head()

,State,2020 Pop,Percent Change 2010 to 2020 Census,2010 Pop,Percent Change 2000 - Census 2010,2000 Pop,# of Missing Persons,"Missing People per 100,000 Residents",Unnamed: 0_x,Title Count,...,Lat Count,longitude_x,country_x,Unnamed: 0_y,title,classification,year_y,latitude,longitude_y,country_y
0,Alabama,"5,024,279",5.1,"4,779,736",7.5,"4,447,100",204,4.2,36.0,36.0,...,36.0,36.0,36.0,59.0,59.0,59.0,59.0,59.0,59.0,59.0
1,Alaska,"733,391",3.3,"710,231",13.3,"626,932",309,41.8,7.0,7.0,...,7.0,7.0,7.0,7.0,7.0,7.0,7.0,7.0,7.0,7.0
2,Arizona,"7,151,502",11.9,"6,392,017",24.6,"5,130,632",915,13.0,34.0,34.0,...,34.0,34.0,34.0,46.0,46.0,46.0,46.0,46.0,46.0,46.0
3,Arkansas,"3,011,524",3.3,"2,915,918",9.1,"2,673,400",200,6.7,42.0,42.0,...,42.0,42.0,42.0,61.0,61.0,61.0,61.0,61.0,61.0,61.0
4,California,"39,538,223",6.1,"37,253,956",10.0,"33,871,648","2,133",5.4,123.0,123.0,...,123.0,123.0,123.0,142.0,142.0,142.0,142.0,142.0,142.0,142.0

In [22]:
agg_df2=agg_total.rename(columns = {
                                     "latitude": "20 Lat",
                                     "latitude.1": "20 Lat 1", 
                                     "classification": "20 Class", 
                                     "title": "20 Title", 
                                     "Date": "20 Date", 
                                     "Year": "20 year",
                                      })

In [23]:
agg_df2.set_index('State')
agg_df2.head()

,State,2020 Pop,Percent Change 2010 to 2020 Census,2010 Pop,Percent Change 2000 - Census 2010,2000 Pop,# of Missing Persons,"Missing People per 100,000 Residents",Unnamed: 0_x,Title Count,...,Lat Count,longitude_x,country_x,Unnamed: 0_y,20 Title,20 Class,year_y,20 Lat,longitude_y,country_y
0,Alabama,"5,024,279",5.1,"4,779,736",7.5,"4,447,100",204,4.2,36.0,36.0,...,36.0,36.0,36.0,59.0,59.0,59.0,59.0,59.0,59.0,59.0
1,Alaska,"733,391",3.3,"710,231",13.3,"626,932",309,41.8,7.0,7.0,...,7.0,7.0,7.0,7.0,7.0,7.0,7.0,7.0,7.0,7.0
2,Arizona,"7,151,502",11.9,"6,392,017",24.6,"5,130,632",915,13.0,34.0,34.0,...,34.0,34.0,34.0,46.0,46.0,46.0,46.0,46.0,46.0,46.0
3,Arkansas,"3,011,524",3.3,"2,915,918",9.1,"2,673,400",200,6.7,42.0,42.0,...,42.0,42.0,42.0,61.0,61.0,61.0,61.0,61.0,61.0,61.0
4,California,"39,538,223",6.1,"37,253,956",10.0,"33,871,648","2,133",5.4,123.0,123.0,...,123.0,123.0,123.0,142.0,142.0,142.0,142.0,142.0,142.0,142.0

In [24]:
final_df = pd.merge(agg_df2, subs_df2, on="State", how="left")

In [25]:
#Change NaN values to zero
bf_final = final_df.fillna(0)
bf_final_state = bf_final.set_index('State')
bf_final_state.info()

<class 'pandas.core.frame.DataFrame'>
Index: 51 entries, Alabama to Wyoming
Data columns (total 25 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   2020 Pop                              51 non-null     object
 1   Percent Change 2010 to 2020 Census    51 non-null     float64
 2   2010 Pop                              51 non-null     object
 3   Percent Change 2000 - Census 2010     51 non-null     float64
 4   2000 Pop                              51 non-null     object
 5    # of Missing Persons                 51 non-null     object
 6   Missing People per 100,000 Residents  51 non-null     float64
 7   Unnamed: 0_x                          51 non-null     float64
 8   Title Count                           51 non-null     float64
 9   Class Count                           51 non-null     float64
 10  year_x                                51 non-null     float64
 11  Lat Count                             51 non-null     float64
 12  longitude_x                           51 non-null     float64
 13  country_x                             51 non-null     float64
 14  Unnamed: 0_y                          51 non-null     float64
 15  20 Title                              51 non-null     float64
 16  20 Class                              51 non-null     float64
 17  year_y                                51 non-null     float64
 18  20 Lat                                51 non-null     float64
 19  longitude_y                           51 non-null     float64
 20  country_y                             51 non-null     float64
 21  Unnamed: 0                            51 non-null     int64
 22  Illicit Drug Use (18+)                51 non-null     object
 23  Alcohol Use (18+)                     51 non-null     object
 24  Substance Use Disorder (18+)          51 non-null     object
dtypes: float64(17), int64(1), object(7)
memory usage: 10.4+ KB

In [26]:
#find states with greatest increase in Bigfoot sightings
bf_increase = (bf_final_state["20 Class"] - bf_final_state["Title Count"])
bf_increase

State
Alabama                  23.0
Alaska                    0.0
Arizona                  12.0
Arkansas                 19.0
California               19.0
Colorado                 16.0
Connecticut               9.0
Delaware                  1.0
District of Columbia      0.0
Florida                  70.0
Georgia                  22.0
Hawaii                    0.0
Idaho                    24.0
Illinois                 80.0
Indiana                   6.0
Iowa                     11.0
Kansas                   12.0
Kentucky                 19.0
Louisiana                 3.0
Maine                     7.0
Maryland                  2.0
Massachusetts            12.0
Michigan                 40.0
Minnesota                14.0
Mississippi               1.0
Missouri                 42.0
Montana                  12.0
Nebraska                  2.0
Nevada                    0.0
New Hampshire             3.0
New Jersey               12.0
New Mexico                5.0
New York                 12.0
North Carolina           24.0
North Dakota              0.0
Ohio                     65.0
Oklahoma                  8.0
Oregon                   15.0
Pennsylvania             14.0
Rhode Island              1.0
South Carolina            3.0
South Dakota              1.0
Tennessee                 9.0
Texas                    39.0
Utah                      1.0
Vermont                   2.0
Virginia                 27.0
Washington              108.0
West Virginia            13.0
Wisconsin                26.0
Wyoming                   0.0
dtype: float64

States with the Largest Increase
State	Increase in Sightings
Florida
Illinois	
Michigan	
Missouri	
Ohio	
Texas	
Washington

In [30]:
bf_increase1 = bf_increase.reset_index()
bf_increase1

                   State      0
0                Alabama   23.0
1                 Alaska    0.0
2                Arizona   12.0
3               Arkansas   19.0
4             California   19.0
5               Colorado   16.0
6            Connecticut    9.0
7               Delaware    1.0
8   District of Columbia    0.0
9                Florida   70.0
10               Georgia   22.0
11                Hawaii    0.0
12                 Idaho   24.0
13              Illinois   80.0
14               Indiana    6.0
15                  Iowa   11.0
16                Kansas   12.0
17              Kentucky   19.0
18             Louisiana    3.0
19                 Maine    7.0
20              Maryland    2.0
21         Massachusetts   12.0
22              Michigan   40.0
23             Minnesota   14.0
24           Mississippi    1.0
25              Missouri   42.0
26               Montana   12.0
27              Nebraska    2.0
28                Nevada    0.0
29         New Hampshire    3.0
30            New Jersey   12.0
31            New Mexico    5.0
32              New York   12.0
33        North Carolina   24.0
34          North Dakota    0.0
35                  Ohio   65.0
36              Oklahoma    8.0
37                Oregon   15.0
38          Pennsylvania   14.0
39          Rhode Island    1.0
40        South Carolina    3.0
41          South Dakota    1.0
42             Tennessee    9.0
43                 Texas   39.0
44                  Utah    1.0
45               Vermont    2.0
46              Virginia   27.0
47            Washington  108.0
48         West Virginia   13.0
49             Wisconsin   26.0
50               Wyoming    0.0

In [28]:
high_bfs = bf_final_state.iloc[[9,13,22,25,35,43,47], :]
high_bfs

,2020 Pop,Percent Change 2010 to 2020 Census,2010 Pop,Percent Change 2000 - Census 2010,2000 Pop,# of Missing Persons,"Missing People per 100,000 Residents",Unnamed: 0_x,Title Count,Class Count,...,20 Title,20 Class,year_y,20 Lat,longitude_y,country_y,Unnamed: 0,Illicit Drug Use (18+),Alcohol Use (18+),Substance Use Disorder (18+)
State,,,,,,,,,,,,,,,,,,,,,
Florida,"21,538,187",14.6,"18,801,310",17.6,"15,982,378","1,252",6.0,97.0,97.0,97.0,...,167.0,167.0,167.0,167.0,167.0,167.0,14,7.48%,9.55%,9.55%
Illinois,"12,812,508",-0.1,"12,830,632",3.3,"12,419,293",317,2.5,61.0,61.0,61.0,...,141.0,141.0,141.0,141.0,141.0,141.0,18,7.65%,11.51%,11.51%
Michigan,"10,077,331",2.0,"9,883,640",-0.6,"9,938,444",556,5.6,52.0,52.0,52.0,...,92.0,92.0,92.0,92.0,92.0,92.0,27,7.89%,11.30%,11.30%
Missouri,"6,154,913",2.8,"5,988,927",7.0,"5,595,211",316,5.2,38.0,38.0,38.0,...,80.0,80.0,80.0,80.0,80.0,80.0,30,6.79%,11.00%,11.00%
Ohio,"11,799,448",2.3,"11,536,504",1.6,"11,353,140",358,3.1,77.0,77.0,77.0,...,142.0,142.0,142.0,142.0,142.0,142.0,40,5.96%,11.33%,11.33%
Texas,"29,145,505",15.9,"25,145,561",20.6,"20,851,820","1,246",4.4,124.0,124.0,124.0,...,163.0,163.0,163.0,163.0,163.0,163.0,48,5.61%,8.18%,8.18%
Washington,"7,705,281",14.6,"6,724,540",14.1,"5,894,121",643,8.7,195.0,195.0,195.0,...,303.0,303.0,303.0,303.0,303.0,303.0,52,8.51%,14.00%,14.00%

In [29]:
high_bfs.to_csv('HBFS Data.csv')